* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container { 
    width: 100%; 
    margin: auto; 
    text-align: center; 
} 

.dice { 
    text-align: center; 
    display: inline-block; 
    margin: 10px; 
} 

body { 
    background-color:#00ffaa;
} 

h1 { 
    margin: 30px; 
    text-shadow: 2px 2px 2px #090a0a; 
    font-size: 4.5rem; 
    color:rgb(5, 61, 83); 
    text-align: center; 
    letter-spacing: 2px;
} 
h2 {
    margin: 30px; 
    font-size: 4rem; 
    color:rgb(5, 61, 83); 
    text-align: center; 
    letter-spacing: 2px;
}

p { 
    font-size: 3rem; 
    color: #053638; 
    margin-top: 50px;
} 

img { 
    width: 100%; 
    margin-top: 50px;
} 

.bottom { 
    padding-top: 30px; 
} 

.btn { 
    background: #053638; 
    border-radius: 7px; 
    color: #ffff; 
    font-size: 30px; 
    padding: 16px 25px 16px 25px; 
    text-decoration: none; 
    margin-top: 50px;
} 

.btn:hover { 
    background: #09595c; 
    text-decoration: none; 
} 